body {
  font-family: Rubik;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.training-online {
  padding: 30px;
}

.training {
  color: #413fb5;
  font-weight: bold;
  font-size: 30px;
}

.online {
  color: #413fb5;
  font-size: 35px;
}

.login-section {
  box-shadow: 0px 0px 7px rgba(100, 96, 106, 0.2);
  border-radius: 7px;
  display: flex;
  height: 790px;
  background: #ffffff;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  margin: 0px 65px 60px 65px;
}

.facebook {
  width: 27px;
  height: 27px;
}
.instagram {
  width: 27px;
  height: 27px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #413fb5;
  border-radius: 7px;
  height: 50px;
  background-color: #ffffff;
  font-size: 14px;
  width: 100%;
  margin-bottom: 15px;
  color: #190f27;
}
.button:hover {
  background-color: hsl(209, 68%, 77%);
  cursor: pointer;
}
.reg-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  display: flex;
  flex: 1;
  height: 790px;
  width: 100%;
}
.text-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.0571429px;
  padding: 20px 0px 15px 0px;
}

.divider {
  display: flex;
  flex: 1;
  height: 1px;
  background-color: #edebf0;
  border-radius: 18px;
  width: 100%;
}
.names {
  display: flex;
  column-gap: 15px;
}
#first-name {
  width: 100%;
  height: 56px;
  border: 1px solid #edebf0;
  border-radius: 7px;
  box-sizing: border-box;
  padding-left: 18px;
  font-size: 16px;
  letter-spacing: -0.0571429px;
  margin-top: 10px;
}

.last-name {
  width: 100%;
  height: 56px;
  border: 1px solid #edebf0;
  border-radius: 7px;
  box-sizing: border-box;
  padding-left: 18px;
  font-size: 16px;
  letter-spacing: -0.0571429px;
  margin-top: 10px;
}

.first.name {
  display: flex;
  flex-direction: column;
}
.last.name {
  display: flex;
  flex-direction: column;
}

.email {
  border: 1px solid #edebf0;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
  height: 56px;
  padding-left: 18px;
  font-size: 16px;
  letter-spacing: -0.0571429px;
  margin-top: 10px;
}

.password {
  border: 1px solid #edebf0;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
  height: 56px;
  padding-left: 18px;
  font-size: 16px;
  letter-spacing: -0.0571429px;
  margin-top: 10px;
}
label {
  display: flex;
  color: #64606a;
  position: relative;
  left: 20px;
  top: 15px;
  background-color: white;
  width: fit-content;
  font-size: 10px;
  letter-spacing: 0.333333px;
}

::placeholder {
  display: flex;
  color: #190f27;
  height: 23px;
  font-size: 16px;
}
.registration-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #413fb5;
  border-radius: 7px;
  color: white;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
}

.registration-button:hover {
  background-color: hsl(209, 68%, 77%);
  cursor: pointer;
}
.account {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #64606a;
}

.terms {
  color: #64606a;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 20px 0px 20px 0px;
}
h1 {
  font-weight: 500;
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #190f27;
}
.check {
  height: 18px;
  width: 18px;
}

.grey-text {
  color: #64606a;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .login-section {
    width: unset;
    margin-bottom: 50px;
    height: unset;
  }
  .image {
    display: none;
  }

  .names {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #first-name {
    height: 56px;
    border: 1px solid #edebf0;
    border-radius: 7px;
    box-sizing: border-box;
    padding-left: 18px;
    font-size: 16px;
    letter-spacing: -0.0571429px;
    margin-top: 10px;
    width: 100%;
  }

  .last-name {
    width: 100%;
    height: 56px;
    border: 1px solid #edebf0;
    border-radius: 7px;
    box-sizing: border-box;
    padding-left: 18px;
    font-size: 16px;
    letter-spacing: -0.0571429px;
    margin-top: 10px;
  }
}
